<div id="home" class="landing-wrapper overflow-hidden min-h-screen">
    <div
        class="py-4 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8 flex align-items-center justify-content-between relative lg:static mb-3"
    >
        <a class="flex align-items-center" href="#">
            <img
                src="assets/layout/images/logo.svg"
                alt="Sakai Logo"
                height="50"
                class="mr-0 lg:mr-2"
            /><span class="text-900 font-medium text-2xl line-height-3 mr-8"
                >WEATHER
            </span>
        </a>
        <div
            class="align-items-center surface-0 flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full left-0 px-6 lg:px-0 z-2"
            style="top: 120px"
        ></div>
    </div>

    <div
        id="hero"
        class="flex flex-column pt-4 px-4 lg:px-8 overflow-hidden h-30rem"
        style="
            background: linear-gradient(
                    0deg,
                    rgba(255, 255, 255, 0.2),
                    rgba(255, 255, 255, 0.2)
                ),
                radial-gradient(
                    77.36% 256.97% at 77.36% 57.52%,
                    #eeefaf 0%,
                    #c3e3fa 100%
                );
            clip-path: ellipse(150% 87% at 93% 13%);
        "
    >
        <div class="mx-4 md:mx-8 mt-0 md:mt-4">
            <h1 class="text-6xl font-bold text-gray-900 line-height-2">
                <span class="font-light block">Eu sem integer</span>eget magna
                fermentum
            </h1>
            <p class="font-normal text-2xl line-height-3 md:mt-3 text-gray-700">
                Sed blandit libero volutpat sed cras. Fames ac turpis egestas
                integer. Placerat in egestas erat...
            </p>
            <button
                pButton
                pRipple
                type="button"
                label="Login"
                class="p-button-rounded text-xl border-none mt-3 bg-blue-500 font-normal line-height-3 px-6 text-white"
                routerLink="/auth/login"
            ></button>
        </div>
    </div>
</div>
